<h1>Gold Investment - analysis</h1>

<p>
    <a href="/">Back to home</a>
</p>

<p>
    Analysis...
</p>

{% if errors %}
<h2>Errors:</h2>
<ul>
{% for e in errors %}
    <li>{{ e|e }}</li>
{% endfor %}
</ul>
{% endif %}

{% if transactions %}
<h2>Suggested transactions:</h2>
<table>
    {% for t in transactions %}
    <tr>
        <td>{{ t.day }}</td>
        <td>{{ t.category }}</td>
        <td style="text-align: right;">{{ t.price /100 | number_format(2)}}</td>
    </tr>
    {% endfor %}
</table>

{% endif %}
